.carousel-container {
    display: flex;
    margin: auto;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

.carousel-control img {
    width: 60px; /* Ajusta el tamaño de las flechas según sea necesario */
    height: 60px;
    filter: invert(1); /* Aplica el filtro para que las flechas se vean blancas */
  }