body {
  background-color: #16161A; /* Color de fondo */
  margin: 0; /* Elimina el margen por defecto del body */
  font-family: 'inter', sans-serif; /* Opcional: establecer una fuente */
}

.App {
  text-align: center;
}